body {
    background: radial-gradient(lightblue, red, black);
    font-family: helvetica;
}

h1 {
    font-size: 4em;
}

/* Entire Table Container */
#table {
    position: relative;
    background: radial-gradient(lightgreen, rgb(14, 206, 14), black);
    border-radius: 50%;
    border: solid black;
    height: 100vh;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);

}

/* Blackjack Header Message */
#game-header {
    position: absolute;
    left: 40%;
    top: 3%;
}

/* Dealer Styles */
#dealer-head {
    position: absolute;
    left: 15%;
    top: 17%;
    font-size: 3em;
    color: black;
}

#dealer-points {
    position: absolute;
    top: 18.5%;
    left: 65%;
    font-size: 2.5em;
}

#dealer-hand {
    position: absolute;
    top: 26%;
    left: 15%;
    background: radial-gradient(lightblue,lightgreen, red);
    border: solid black;
    border-radius: 5px;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    width: 65%;
    height: 20vh;
}

/* Player Styles */
#player-head {
    position: absolute;
    font-size: 3em;
    top: 48%;
    left: 15%;
}

#player-points {
    position: absolute;
    font-size: 2.5em;
    top: 49.5%;
    left: 65%;
}

#player-hand {
    position: absolute;
    top: 58%;
    left: 15%;
    background: radial-gradient(lightblue,lightgreen, blue);
    border: solid black;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 65%;
    height: 20vh; 
}

/* Play Buttons */
.buttons {
    position: absolute;
    top: 85%;
    left: 40%;
    width: 30%;
}

#deal-button {
    width: 15%;
    height: 4vh;
    margin-left: auto;
}

#hit-button {
    width: 15%;
    height: 4vh;
    margin: auto;
}

#stand-button {
    width: 15%;
    height: 4vh;
    margin: auto;
}

#player-chips {
    position: absolute;
    top: 85%;
    left: 88%;
    border: solid black;
    background: radial-gradient(lightblue,lightgreen, yellow);
    width: 10%;
    height: 10vh;
    border-radius: 20px;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 8vh;
    font-size: 1.5em;
}

img {
    width: 9%;
    margin-top: 1.5%;
    margin-left: 1%;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
    border-radius: 6%;
}

#deal-button, #hit-button, #stand-button {
    border-radius: 6%;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);
}